<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="PiyRibbons_PiyOnline::admin" title="PIY Ribbons management" translate="title">
                    <resource id="PiyRibbons_PiyOnline::configuration" title="PIY Ribbons configuration" translate="title" />
                    <resource id="PiyRibbons_PiyOnline::put_order" title="PIY Ribbons order push" translate="title" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
